@mixin flex-container($mb) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $mb;
}

@mixin text($size, $weight, $line-height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}
